
/* this is where you will define your stylesheet for non-touchscreen devices */

body {
	color:black;
	font-family: Arial, sans-serif;
	}

.hidden {
	display: none;
}

nav {
	background-color:#EFCDBC;
	// display:flex;
	text-align: left;
}

ul > li {
	display: inline-block;
	margin-left: 10px; 
	margin-right:10px;
	margin-bottom: 10px;
}

a{
	padding: 5px;
	text-decoration: None;
	color: black;
}
a:hover {
    background:Pink;
	color: rgb(207, 39, 67); 
}

a:active {
	text-decoration: None;
}
input{
	border:indianred solid 3px;
}


#logo{
	width: 100px;
	height: 100px;
	margin:0 ;
}